name: Deploy
on:
  push:
    branches:
      - main
jobs:
  build-site:
    if: github.repository == 'mercurytechnologies/looking-glass-viewer'
    name: Build the site
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
      - name: build it
        run: |
          yarn install && yarn build
      - name: ship it
        uses: peaceiris/actions-gh-pages@068dc23d9710f1ba62e86896f84735d869951305
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build

